.header {
    text-align: center;
    font-weight: bold;
}

.header1 {
    font-weight: bold;
}
.burger-top{
    background-image: url(../assets/top.jpg);
    background-size: 300px;
    height: 110px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.burger-bottom{
    background-image: url(../assets/bottom.jpg);
    background-size: 300px;
    height: 60px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.ing-patty{
    background-image: url(../assets/patty.jpg);
    background-size: 300px;
    height: 35px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.ing-lettuce{
    background-image: url(../assets/lettuse.jpg);
    background-size: 300px;
    height: 25px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.ing-onion{
    background-image: url(../assets/onion.jpg);
    background-size: 300px;
    height: 20px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.ing-tomato{
    background-image: url(../assets/tomato.jpg);
    background-size: 300px;
    height: 15px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.ing-cheese{
    background-image: url(../assets/cheese.jpg);
    background-size: 300px;
    height: 10px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-add {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn-delete {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn-delete:disabled{
    background:  #4d4c4c;
    color: #ccc;
    cursor: no-drop;
 }